body {
    background-color: rgb(255, 255, 255);
}
  h1 {
    color: rgb(0, 0, 0);
}
  p {
    color: rgb(0, 0, 0); padding: 1ch;
}
  li {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  li {
    float:left;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  li a:hover {
    background-color: #111111;
  }
